<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @trainer.banner_url %>);">
  <div class="container">
    <h1><%= @trainer.name %></h1>
  </div>
</div>

  <h4>Add a Pokemon!</h4>
  <%= simple_form_for [@trainer, @pokemon] do |f| %>
    <%= f.input :name, placeholder: "What's the name?" %>
    <%= f.input :image_url, placeholder: "www.google.com/image" %>
    <%= f.submit 'Add Pokemon', class: 'btn btn-primary' %>
  <% end %>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
